<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FXC  </display-name>
  <welcome-file-list>
    <welcome-file>ConnexionServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>JeuServlet</display-name>
    <servlet-name>JeuServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.JeuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuServlet</servlet-name>
    <url-pattern>/JeuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListeJeuxServlet</display-name>
    <servlet-name>ListeJeuxServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.ListeJeuxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeJeuxServlet</servlet-name>
    <url-pattern>/ListeJeuxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListeTestsServlet</display-name>
    <servlet-name>ListeTestsServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.ListeTestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTestsServlet</servlet-name>
    <url-pattern>/ListeTestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListeCommentaireServlet</display-name>
    <servlet-name>ListeCommentaireServlet</servlet-name>
    <servlet-class>fr.cfai.sio.servlet.ListeCommentaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeCommentaireServlet</servlet-name>
    <url-pattern>/ListeCommentaireServlet</url-pattern>
  </servlet-mapping>
</web-app>